.canvases {
    flex: 1;
    border-radius: 10px;
    position: relative;
    border: 2px solid var(--color-secondary);
    box-shadow: 0 0 20px var(--color-secondary-shadow);
    overflow: hidden;
    box-sizing: border-box;
    transition: border 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.canvases.play {
    border: 2px solid var(--color-accent);
    box-shadow: 0 0 20px var(--color-accent-shadow);
}

.canvases.pause {
    border: 2px solid var(--color-secondary);
    box-shadow: 0 0 20px var(--color-secondary-shadow);
}