.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
}

.controls .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.controls .fill.left {
    justify-content: flex-start;
}

.controls .fill.right {
    justify-content: flex-end;
}

.controls .button {
    color: var(--color-text);
    border-radius: 1000px;
    border: none;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    gap: 5px;
    font-size: 20px;
    background-color: var(--color-dim-light);
    cursor: pointer;
    transition: box-shadow 150ms ease-in-out, opacity 150ms ease-in-out;
}

.controls .button.big {
    transform: scale(1.2);
}

.controls .button.accent {
    background-color: var(--color-accent);
}

.controls .button.secondary {
    background-color: var(--color-secondary-shadow);
}

.controls .button:active {
    opacity: 0.75;
}

.controls .button.accent:hover {
    box-shadow: 0 0 20px var(--color-accent-shadow);
}

.controls .button:hover {
    box-shadow: 0 0 20px var(--color-dim-light);
}

.controls .svg {
    filter: invert();
}

.controls .svg.play {
    margin-right: -2px;
    margin-left: 2px;
}

.controls .svg.pause {
    margin-right: 0;
    margin-left: 0;
}

.controls .slider {
    border-radius: 15px;
    height: 30px;
    min-width: 230px;
    background-color: var(--color-dim-light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.controls .slider .title {
    font-size: 16px;
}

.controls .slider .value {
    position: absolute;
    background-color: var(--color-dim-light);
    width: 70px;
    top: 0;
    left: 0;
    bottom: 0;
}