@font-face {
    font-family: 'League Gothic';
    src: url(../assets/fonts/LeagueGothic-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}