.rules {
    position: fixed;
    backdrop-filter: blur(20px);
    z-index: 2;
    inset: 0;
}

.rules.hidden {
    opacity: 0;
    pointer-events: none;
}

.rules .alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: var(--color-dim-light);
    border-radius: 10px;
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 50px var(--color-accent-shadow);
    overflow: hidden;
}

.rules .alert .line {
    height: 1px;
    background-color: var(--color-dim-light);
}

.rules .alert .rule {
    line-height: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 20px 30px;
}

.rules .alert .rule:hover {
    background-color: var(--color-dim-light);
}

.rules .alert .close {
    position: absolute;
    background-color: transparent;
    border: none;
    filter: invert();
    top: 0;
    right: 0;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules .alert .close:active {
    opacity: 0.75;
}

.rules .alert .rule .number {
    min-width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: var(--color-dim-light);
    display: flex;
    align-items: center;
    justify-content: center;
}